.card__object{
  display: inline-flex;
  cursor: pointer;
  &:hover{
    opacity: 0.5 ;
  }
}

.card__cell{
  position: relative;
  height: 150px;
  width: 100px;
  border: 1px solid black;
  margin: 10px;
}