.card--cell{
  display: inline-flex;
  cursor: pointer;
}

.card--cell:hover{
  opacity: 0.5 ;
}

.card--format{
  position: relative;
  height: 150px;
  width: 100px;
  border: 1px solid black;
  margin: 10px;
}