// Place all the styles related to the concentrations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.concentration--cell{
  display: inline-flex;
}

.concentration--card{
  position: relative;
  height: 150px;
  width: 100px;
  text-align: center;
  border: 1px solid black;
  margin: 10px;
}

.concentration--head{
  position: absolute;
  right: 0px;
  top: 0px;
  height: 150px;
  width: 100px;
  background-color: yellow;
  text-align: center;
}

.concentration--tail{
  position: absolute;
  right: 0px;
  top: 0px;
  height: 150px;
  width: 100px;
  background-color: green;
  text-align: center;
}