// Place all the styles related to the concentrations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.concentration__head{
  position: absolute;
  top: 0%;
  left: 0%;
  height: 140px;
  width: 90px;
  border: 5px solid green;
  display: none;
  background-color: white;
  writing-mode: vertical-rl;
  line-height: 30px;
}

.concentration__tail{
  position: absolute;
  top: 0%;
  left: 0%;
  height: 150px;
  width: 100px;
  background-color: green;
  writing-mode: vertical-rl;
  line-height: 30px;
}