// Place all the styles related to the karutas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.karuta__head{
  display: none;
}

.karuta__tail{
  position: absolute;
  border: 5px solid green;
  background-color: white;
  height: 140px;
  width: 90px;
  &--content{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 140px;
    margin: auto;
    writing-mode: vertical-rl;
    line-height: 30px;
  }
}

#karuta--pass{
  display: none;
}

#karuta--stop{
  display: none;
}