.tool__box{
  display: flex;
}

.tool__button{
  background-color: teal;
  height: 30px;
  width: 100px;
  padding: 10px 0 0;
  margin: 0 10px 0;
  color: white;
  text-align: center;
  cursor : pointer;
  &:hover{
    color:black;
  }
  &:active{
    background-color: #009090;
  }
}